.App form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.App form input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-weight: bold;
  width: 300px;
  margin-right: 10px;
}

.App form button[type="submit"] {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.App form input[type="text"] {
  width: 300px;
}

.App form button[type="submit"] {
  background-color: #0066cc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.App form button[type="submit"]:hover {
  background-color: #0052a3;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.seatGeek-card,
.stubHub-card,
.ticketMaster-card {
  margin: 0 auto;
}

.result-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.result-card:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.result-card p {
  margin: 0;
  padding: 5px 0;
}

.result-card a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #b2afaf;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  background-color: #2ff166;
}

.result-card a:hover {
  background-color: #bdf2ce;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-container svg {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}